<h1>Listing child_menus</h1>

<table>
  <tr>
    <th>Childmenuname</th>
    <th>Mainmenu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @child_menus.each do |child_menu| %>
  <tr>
    <td><%= child_menu.childmenuname %></td>
    <td><%= child_menu.main_menu_id %></td>
    <td><%= link_to 'Show', child_menu %></td>
    <td><%= link_to 'Edit', edit_child_menu_path(child_menu) %></td>
    <td><%= link_to 'Destroy', child_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Child menu', new_child_menu_path %>
