<h1>Listing main_menus</h1>

<table>
  <tr>
    <th>Mainmenuname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @main_menus.each do |main_menu| %>
  <tr>
    <td><%= main_menu.mainmenuname %></td>
    <td><%= link_to 'Show', main_menu %></td>
    <td><%= link_to 'Edit', edit_main_menu_path(main_menu) %></td>
    <td><%= link_to 'Destroy', main_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Main menu', new_main_menu_path %>
