<!DOCTYPE html>
<html>
<head>
  <title>PcRails3</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "APP PAGE", root_path, class: "root-link" %>
	<%= link_to "MAIN MENU TOOLS", main_menus_path, class: "root-link" %>
	<%= render "layouts/menu", :mainmenu => @mainmenu %>

	<div class="separator"><div>&#x25cf&#x25cf&#x25cf</div></div>
	<div class="center-block">
		<%= yield %>
	</div>

	<div class="separator"><div>&#x25cf&#x25cf&#x25cf</div></div>


	<div class="container">
	  <%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
