<!DOCTYPE html>
<html>
<head>
  <title>PcRails3</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	APP PAGE
	<%= render "layouts/menu", :mainmenu => @mainmenu %>
<%= yield %>

</body>
</html>
